:root{
    --width: 500px;
}
$width: var(--width);
$main-padding: 0px;
$font-size: 15px;
$input: 500px;

@function choose-width(){
    @if($width: 500px){
      $main-padding: 10px;
      @return $main-padding;
    }
    @if($width: 100%){
        $main-padding: 100px;
        @return $main-padding;
      }
  }
  @function choose-width-inp(){
    @if($width: 500px){
      $input: 300px;
      @return $input;
    }
  }
/* color palette from <https://github.com/vuejs/theme> */
:root {
    --common-back-color: #3A0088;
    --common-back-dop-block: #660099;
    --color-button: #E61C5D;
    --common-color-mess: #930077;
    --common-color-text: #ffffff;
    --color-error: #E61C5D;
    --color-icons: #FFBD39;
  }
  
  /* semantic color variables for this project */
  :root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
  
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
  
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
  
    --section-gap: 160px;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: var(--vt-c-black);
      --color-background-soft: var(--vt-c-black-soft);
      --color-background-mute: var(--vt-c-black-mute);
  
      --color-border: var(--vt-c-divider-dark-2);
      --color-border-hover: var(--vt-c-divider-dark-1);
  
      --color-heading: var(--vt-c-text-dark-1);
      --color-text: var(--vt-c-text-dark-2);
    }
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }
  
  body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: $font-size;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @mixin buttons{
    width: 50px;
    height: 50px;
    padding: 15px 13px;
    box-sizing: border-box;
    background-color: var(--color-button);
    color: var(--color-icons);
    cursor: pointer;
  }



